body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f68121;
}
nav {
  background-image: linear-gradient(to bottom right, #f68121, #ffdf74);
  /* background-color: #f68121; */
}

main {
  /* border: black solid 2px; */
  margin-top: 5rem;
}

#taskName,
#assigned-to,
#date,
#time,
#assigned-to,
#status,
#category,
#priority {
  background-color: #fcbb30;
}

.btn {
  border-radius: 30px;
  background-color: #f68121;
  text-decoration: none;
  color: aliceblue;
}
