/* Attribute
Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> 
from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: sans-serif;
}

/* Style Link tag */
a {
  color: inherit; /* take on the colour of its parent */
  text-decoration: none;
}

a:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}

nav {
  background-image: linear-gradient(to bottom right, #f68121, #ffdf74);
  /* background-color: #f68121; */
}
.navbar-brand {
  margin-left: 2rem;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.filter > select {
  width: 9rem;
  text-indent: 0;
  font-size: smaller;
}

.task-list:hover {
  color: #f68121;
}
.task-header {
  text-align: center;
  color: aliceblue;
  font-weight: 500;
  font-size: 1.5rem;
}

#edit {
  padding-right: 5px;
}

#taskName,
#description,
#assigned-to,
#date,
#assigned,
#status,
#category,
#priority {
  background-color: #fea768;
}

.btn {
  border-radius: 30px;
  /* background: linear-gradient(135deg, #fea768 30%, #fcbb30 100%); */
  /* background: #08582a; */
  /* background: #fcce05; */
  background: white;
  border: #085140 solid;
  text-decoration: none;
  color: #085140;
}

.btn:hover {
  background: #085140;
  color: white;
}

.card-header {
  background-color: #fea768;
  height: 4em;
}

.card-header > h5 {
  color: aliceblue;
}

.delete-btn {
  padding-left: 1rem;
}

.delete-btn > img {
  transition: transform 0.5s;
}
.delete-btn > img:hover {
  transform: scale(1.5, 1.5);
}

.edit-btn > img {
  transition: transform 0.5s;
}
.edit-btn > img:hover {
  transform: scale(1.5, 1.5);
}

.task-list {
  margin-top: 1rem;
}

/* Welcome Banner */
.banner {
  background-image: url("https://images.unsplash.com/photo-1582227869938-cce15c8b1cee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
}

.welcome_message {
  text-align: center;
  margin-top: 2rem;
  width: 70%;
}

.welcome_message > h1 {
  font-size: 8rem;
  color: rgba(0, 0, 0, 0.719);
}

.welcome_message > h3 {
  color: rgba(0, 0, 0, 0.719);
}

.welcome_summary_card {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-evenly;
}

.summary_card_parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
}

.summary_card_parent > h6 {
  color: #fcbb30;
  font-weight: 700;
  font-size: 5rem;
  text-align: center;
  position: relative;
  top: 4rem;
  z-index: 1;
  transition: transform 0.5s;
}

.summary_card_parent:hover {
  cursor: pointer;
}

.summary_card_parent:hover > .summary_card_content {
  transform: scale(1.5, 1.5);
}

.summary_card_content {
  color: rgba(0, 0, 0, 0.719);
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  position: relative;
  top: 11rem;
  z-index: 1;
  transition: transform 0.5s;
}

.summary_card {
  width: 15rem;
  height: 15rem;
  background-color: white;
  opacity: 50%;
  border-radius: 10px;
}

.welcome_button_more {
  padding-top: 10rem;
}

/* Hidden Banner Button */
.hidden_banner_button {
  text-align: center;
  margin-top: 1rem;
  transition: transform 0.5s;
}

.hidden_banner_button:hover {
  transform: scale(1.1, 1.1);
}

/* Task Container  */
.task_container {
  margin: 3rem;
  display: flex;
  min-height: 500px;
}

.rightSideBar {
  width: 10%;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sideBarElement {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.sideBarBadge {
  color: #f15e5e;
}

.card {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
#accordion {
  width: 90%;
}

/* Delete Modal  */
.modal-confirm {
  color: #636363;
  width: 400px;
  margin: 30px auto;
}
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
}
.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
  display: flex;
  justify-content: center;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -10px;
}
.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -2px;
}
.modal-confirm .modal-body {
  color: #999;
}
.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 15px 25px;
  display: flex;
  justify-content: center;
}
.modal-confirm .modal-footer a {
  color: #999;
}
.modal-confirm .icon-box {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
  /* border: 3px solid #f15e5e; */
}
.modal-confirm .icon-box i {
  color: #f15e5e;
  font-size: 46px;
  display: inline-block;
  margin-top: 13px;
}
.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
  outline: none !important;
}
.modal-confirm .btn-info {
  background: #c1c1c1;
}
.modal-confirm .btn-info:hover,
.modal-confirm .btn-info:focus {
  background: #a8a8a8;
}
.modal-confirm .btn-danger {
  background: #f15e5e;
}
.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
  background: #ee3535;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

/* Footer */
footer {
  font-family: "Kumbh Sans", sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 150px;
  width: 100%;
  background: rgba(0, 0, 0, 0.719);
  color: whitesmoke;
}

.footer_content {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
}

#contact {
  padding-left: 30rem;
  padding-top: 2rem;
}

/* NOTE:
https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/ */
