/* Attribute
Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> 
from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f68121;
}
nav {
  background-image: linear-gradient(to bottom right, #f68121, #ffdf74);
  /* background-color: #f68121; */
}
.navbar-brand {
  margin-left: 2rem;
}

main {
  /* border: black solid 2px; */
  margin-top: 5rem;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.filter > select {
  width: 9rem;
  text-indent: 0;
  font-size: smaller;
}
/* .center {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.task-list:hover {
  color: #f68121;
}
.task-header {
  text-align: center;
  color: aliceblue;
  font-weight: 500;
  font-size: 1.5rem;
}

#edit {
  padding-right: 5px;
}

/* .hide {
  display: none;
} */

#taskName,
#description,
#assigned-to,
#date,
#time,
#assigned,
#status,
#category,
#priority {
  background-color: #fcbb30;
}

.btn {
  border-radius: 30px;
  background-color: #f68121;
  text-decoration: none;
  color: aliceblue;
}

#create_btn {
  margin: 1rem;
}

.card-header {
  background-color: #f68121;
  height: 4em;
}

.card-header > h5 {
  color: aliceblue;
}

.delete-btn {
  padding-left: 1rem;
}

.delete-btn > img {
  transition: transform 0.5s;
}
.delete-btn > img:hover {
  transform: scale(1.5, 1.5);
}

.edit-btn > img {
  transition: transform 0.5s;
}
.edit-btn > img:hover {
  transform: scale(1.5, 1.5);
}

.task-list {
  margin-top: 1rem;
}

/* Summary Sidebar */
.sidebar {
  height: 100%;
  width: 240px;
  background-color: green;
}
#summaryModal {
  position: fixed;
  margin: 1rem 1rem 1rem 1rem;
  width: 240px;
  height: 80%;
  background-color: peachpuff;
}

/* Delete Modal  */
.modal-confirm {
  color: #636363;
  width: 400px;
  margin: 30px auto;
}
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
}
.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
  display: flex;
  justify-content: center;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -10px;
}
.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -2px;
}
.modal-confirm .modal-body {
  color: #999;
}
.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 15px 25px;
  display: flex;
  justify-content: center;
}
.modal-confirm .modal-footer a {
  color: #999;
}
.modal-confirm .icon-box {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
  /* border: 3px solid #f15e5e; */
}
.modal-confirm .icon-box i {
  color: #f15e5e;
  font-size: 46px;
  display: inline-block;
  margin-top: 13px;
}
.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
  outline: none !important;
}
.modal-confirm .btn-info {
  background: #c1c1c1;
}
.modal-confirm .btn-info:hover,
.modal-confirm .btn-info:focus {
  background: #a8a8a8;
}
.modal-confirm .btn-danger {
  background: #f15e5e;
}
.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
  background: #ee3535;
}
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

/* NOTE:
https://www.freecodecamp.org/news/how-to-center-anything-with-css-align-a-div-text-and-more/ */
